---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.jp/Recommendations/2013-04-01
    body:
      encoding: UTF-8
      string: Action=ListRecommendations&MarketplaceId=A1VC38T7YXB528
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
      X-Mws-Request-Id:
      - dae5a932-e31c-4d5a-86eb-288364bde197
      X-Mws-Timestamp:
      - '2019-05-28T19:44:27.096Z'
      X-Mws-Response-Context:
      - aTTTRGPM3/14aOyGTYyj2Jet6DBi+d8oQEtRY/K33Bn82RBlAhg0w8I9qnddYABgSvLrHxjpVdo=
      X-Amz-Rid:
      - KQ0QQ4MT42VCWM8HP8Y2
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameterValue</Code>
            <Message>Parameter AWSAccessKeyId cannot be empty.</Message>
          </Error>
          <RequestID>dae5a932-e31c-4d5a-86eb-288364bde197</RequestID>
        </ErrorResponse>
  recorded_at: Tue, 28 May 2019 19:44:27 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Recommendations/2013-04-01
    body:
      encoding: UTF-8
      string: Action=ListRecommendations&MarketplaceId=A1VC38T7YXB528
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
      X-Mws-Request-Id:
      - b387c013-23b9-43ad-8774-39f4baede161
      X-Mws-Timestamp:
      - '2019-05-28T19:44:40.077Z'
      X-Mws-Response-Context:
      - X7fBoGCiVgvBDm0I1r074Ivxwb4A7u9rhDrhS9k1+m0+cAeNPeJQUZXuI1FVdaH9P/O2uGufHnc=
      X-Amz-Rid:
      - 5VZ1DEPEGXXH58DEGRV9
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameterValue</Code>
            <Message>Parameter AWSAccessKeyId cannot be empty.</Message>
          </Error>
          <RequestID>b387c013-23b9-43ad-8774-39f4baede161</RequestID>
        </ErrorResponse>
  recorded_at: Tue, 28 May 2019 19:44:40 GMT
recorded_with: VCR 5.0.0
